.cloud {
	position: absolute;
	width: 120px;
	right: 31%;

	@mixin atSmall {
		width: 130px;
		/*right: -140px;*/
		display: none;
		top: 135%;
	}

	@mixin atMedium {
		display: block;
		width: 130px;
		top: 130%;
		right: 3%;
	}

	@mixin atLarge {
		width: 140px;
		top: 175%;
		right: 3%;
	}

	&__left-cut {
		width: 90px;
		top: 366%;
		left: -30px;
		display: block;

		@mixin atSmall {
			width: 105px;
			top: 166%;
			left: -1%;
		}

		@mixin atMedium {
			top: 153%;
			left: 0;
		}

		@mixin atLarge {
			top: 219%;
		}
	}

	&__right-cut {
		width: 100px;
		top: 323%;
		right: 0;
		display: none;

		@mixin atSmall {
			display: block;
			width: 105px;
			top: 215%;
		}

		@mixin atMedium {
			top: 184%;
			right: 0;
		}

		@mixin atLarge {
			top: 285%;
		}
	}

	&__bottom {
		display: none;

		@mixin atSmall {
			display: block;
			width: 130px;
			top: 270%;
			left: 30%;
		}

		@mixin atMedium {
			width: 140px;
			top:210%;
			left:20%;
		}

		@mixin atLarge {
			top: 345%;
		}
	}
}