.primary-nav {
	text-shadow: none;

	@mixin atLarge {
		margin-right: 0;
	}

	&--pull-right {
		float: right;
	}

	ul {
		margin: 0;
		padding: 0;
		@mixin clearfix;
	}

	li:nth-child(1) {
		padding-right: 13px;

		@mixin atSmall {
			padding-right: 0;
		}
	}

	li:nth-child(2) {
		padding-right: 13px;

		@mixin atSmall {
			padding-right: 0;
		}
	}

	li{
		list-style: none;
		font-size: 0.8rem;
		float: left;
		margin-top: 40px;
		font-weight: 600;

		@mixin atSmall {
			margin-right: 25px;
			margin-top: 45px;
			font-size: 1rem;
		}

		@mixin atMedium {
			font-size: 1rem;
			margin-right: 35px;
		}

		@mixin atLarge {
			font-size: 1.08rem;
			margin-top: 40px;
			margin-right: 45px;
		}
	}

	a {
		padding: 5px 0;
	}

	&__active {
		a{
			color: $links;
		}
	}
}