.primary-nav {
	text-shadow: none;

	a:hover {
		color: #ba8a00;
	}

	&--pull-right {
		float: right;
	}

	ul {
		margin: 0;
		padding: 0;
		@mixin clearfix;
	}

	li{
		list-style: none;
		font-size: 0.9rem;
		float: left;
		margin-right: 20px;
		margin-top: 40px;

		@mixin atSmall {
			margin-right: 25px;
			margin-top: 45px;
		}

		@mixin atMedium {
			font-size: 1rem;
			margin-right: 35px;
		}

		@mixin atLarge {
			font-size: 1.08rem;
			margin-top: 40px;
			margin-right: 45px;
		}
	}

	a {
		padding: 5px 0;
	}

	&__active {
		a{
			color: $hover;
		}
	}
}