.site-header {
	padding: 10px 0;
	position: absolute;
	width: 100%;
	height: 135px;
	z-index: 2;
	background-color: rgba(255, 255, 255, 0);
	transition: all .3s ease-out;

	a {
		color: $mainCreamcolor;
	}

	a:hover {
		color: $links;
	}


	&--white {
		.primary-nav__active {
			a {
				color: #ad8635;
				text-shadow: none;
			}
		}
	}

	@mixin atMedium {
		position: fixed;
		padding-top: -135px;

		&--white {
			opacity: 0;
		}

		&--nav-up {
			opacity: 1;
			background-color: rgba(255, 255, 255, .97);
			a {
				color: $links; /* #b79142 #a3771d */
			}

			a:hover {
				color: $hover;
			}

			.primary-nav__active {
				a {
					color: #3A3A3A;
				}
			}
		}

		&--nav-down {
			opacity: 0;
			z-index: -10;
		}
	}

	&__logo {
		/*background-color: red;*/
		width: 4.3rem;
		margin-top: 15px;
		margin-left: 5px;

		@mixin atSmall {
			width: 5.3rem;
			margin-top: 15px;
			margin-left: 18px;
		}

		@mixin atMedium {
			width: 5.5rem;
			margin-top: 18px;
			margin-left: 28px;
		}

		@mixin atLarge {
			margin-top: 16px;
		}
	}

	/*&__menu-icon {
		width: 20px;
		height: 20px;
		background-color: white;
		position: absolute;
		top: 49px;
		right: 30px;

		@mixin atSmall {
			display: none;
		}
	}

	&__menu-content {
		display: none;

		@mixin atSmall {
			display: inline-block;
			float: right;
		}

		&--is-visible {
			display: block;
			
		}
	}*/
}

.nav-up {
	top: -135px;
	opacity: 1;
}
